<article>
    <div class="compania">
        <p><strong>Nombre:</strong> {{ company.name }}</p>
        <p><strong>Cif:</strong> {{ company.cif }}</p>
        <p><strong>Dirección:</strong> {{ company.address }}</p>
        <p><strong>Teléfono:</strong> {{ company.phone }}</p>
        <p><strong>Email:</strong> {{ company.email }}</p>
        <p class="text-center mt-2 mb-2">
            <a type="button" class="btn btn-primary btn-sm" href="">Ver Clientes</a>
        </p>
        <hr class="hr">
    </div>
</article>