{% extends 'general/layout.html' %}

{% block head_title %}Binvenido a nuestro CMR-Basic{% endblock %}

{% block page_content %}

<div class="container">
    {% include '_includes/_menssages.html' %}
    <h2>¿Qué deseas hacer ahora?</h2>

        <a href="{% url 'lista_companias' %}" class="btn btn-primary btn-sm">
            Ver Listado de Compañias
        </a>

        <a href="{% url 'crear_cliente' %}" class="btn btn-primary btn-sm">
            Dar de Alta un Nuevo Cliente
        </a>    
</div>

{% endblock %}