{% extends 'general/layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Binvenido a nuestro Instagram{% endblock %}

{% block page_content %}

<div class="container">
    {% include '_includes/_menssages.html' %}
    <h1>Perfiles</h1>
    <div class="row">
        {% for profile in profiles %}
            <article class="col-12 col-sm-6 col-md-4">
                <h2>{{ profile.user.username }}</h2>
                <p>Biografía: {{ profile.bio }}</p>
                <p>Fecha de nacimiento: {{ profile.birth_date }}</p>
                <p>
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" style="width: 150px; height: 150px;">
                    {% else %}
                        <p>No hay foto de perfil.</p>
                    {% endif %}
                </p>
                <p>Seguidores: {{ profile.followers.count }}</p>
                <p><a href="{% url 'profile_detail' profile.pk %}">Ver Perfil</a></p>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
